<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

    <div class="bg-grey min-h-screen flex flex-col">
        <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
            <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
                <form   method="post" action="/partner/register">
                <h1 class="mb-8 text-3xl text-center">Registration</h1>
                <input 
                    type="text"
                    class="block border border-grey-light w-full p-3 rounded mb-4"
                    name="name"
                    placeholder="Full Name" />

                <input 
                    type="tel"
                    class="block border border-grey-light w-full p-3 rounded mb-4"
                    name="phone"
                    id="phone"
                    pattern="[0-9]{9}"
                    maxlength=9
                    placeholder="Phone" />
        
                <input type="file"
                    id="image" name="image"
                    class="block border border-grey-light w-full p-3 rounded mb-4"
                    accept="image/png, image/jpeg, image/jpg"
                    />
         

                <input 
                    type="password"
                    class="block border border-grey-light w-full p-3 rounded mb-4"
                    name="password"
                    placeholder="Password" />
                <input 
                    type="pass"
                    class="block border border-grey-light w-full p-3 rounded mb-4"
                    name="pass"
                    placeholder="Confirm Password" />

                <button
                    type="submit"
                    class="w-full text-center py-3 rounded bg-black text-white"
                >Create Account</button>
            </form>


            </div>


        </div>
    </div>
</body>
</html>